<div class="CNN-wrapper">
    <a href="" ng-click="updateRSS(e)">
        <span class="glyphicon glyphicon-refresh refresh-rss pull-right"></span>
    </a>
    <div class="heading text-center">
        <h3>
            {{rss.title}}
        </h3>
        <h4>
            <a href="{{rss.link}}"> {{rss.description}} </a>
        </h4>
    </div>
    <div class="content">
        <div class="viewport">
            <ul>
                <li ng-repeat="feed in rss.entries">
                    <div ng-bind-html="feed.content | unsafe"></span>
                    <hr/>
                </li>
            </ul>
        </div>
    </div>
</div>