<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home"></span> RSS Feed
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
            <li ng-class="{active:isActive('/')}"><a ng-href="#" ui-sref="home">Home</a></li>
            <li ng-class="{active:isActive('/cnn')}"><a ng-href="#" ui-sref="cnn">CNN</a></li>
            <li ng-class="{active:isActive('/hacker_news')}"><a ng-href="#" ui-sref="hacker_news">Hacker News</a></li>
            <li ng-class="{active:isActive('/huffington_post')}"><a ng-href="#" ui-sref="huffington_post">Huffington Post</a></li>
            <li ng-class="{active:isActive('/mashable')}"><a ng-href="#" ui-sref="mashable">Mashable</a></li>
            <li ng-class="{active:isActive('/tech_crunch')}"><a ng-href="#" ui-sref="tech_crunch">Tech Crunch</a></li>
        </ul>
    </div>
</nav>
